
.loginSignUpSeparator {
    border-top: 1px solid #cbd2d6;
    position: relative;
    margin-top: 8.72%;
    margin-bottom: 4.895%;
    height: 15px;
    text-align: center;
    font-size: 83.34%;
    margin-left: 20px;
    margin-right: 20px;
}

.loginSignUpSeparator .textInSeparator {
    background-color: #fff;
    padding: 0 0.5em;
    position: relative;
    color: #6c7378;
    top: -0.7em;
}
 .textInSeparator {
    font-size: 15px;
}

div,span {
    font-family: pp-sans-big-regular,Helvetica Neue,Arial,sans-serif;
    font-weight: 400;
    font-variant: normal;
}