/* .modal1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content1 {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  width: 80%;
  max-width: 600px;
  height: 100vh;
}

.closeContainer1 {
  width: 100%;
  display: flex;
  justify-content: end;
}

.password1 {
  width: 60%;
  margin: 20% auto;
}

.close1 {
  top: 10px;
  right: 15px;
  font-size: 2rem;
  color: #777272;
  cursor: pointer;
  border: none;
  background-color: white;
}

.close1:hover {
  text-decoration: underline;
}

.passwordHeader1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.addition {
  text-align: center;
  color: #5c5a5a;
  font-size: 0.9rem;
}

.app {
  text-align: center;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.btn1 {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid rgb(7, 7, 145);
  background-color: rgb(7, 7, 145);
  color: white;
  font-weight: 500;
  box-sizing: border-box;
}

.btn1:hover {

  background-color: rgb(11, 11, 107);
}


.logoContainer1 {
  width: 100%;
  display: flex;
  justify-content: center;

}

@media (max-width: 641px) {
  .modal-content1 {
    width: 100%;
  }

  .password1 {
    width: 100%;
  }
} */

.modal1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content1 {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  width: 80%;
  max-width: 600px;
  height: 100vh;
}

.closeContainer1 {
  width: 100%;
  display: flex;
  justify-content: end;
}

.password1 {
  width: 60%;
  margin: 20% auto;
}

.close1 {
  top: 10px;
  right: 15px;
  font-size: 2rem;
  color: #777272;
  cursor: pointer;
  border: none;
  background-color: white;
}

.close1:hover {
  text-decoration: underline;
}

.passwordHeader1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.addition {
  text-align: center;
  color: #5c5a5a;
  font-size: 0.9rem;
}

.app {
  text-align: center;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.radio-options {
  border-top: 1px dashed #ccc;
  padding-top: 15px;
  margin-top: 15px;
}

.radio-options label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.radio-options input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.btn1 {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid rgb(7, 7, 145);
  background-color: rgb(7, 7, 145);
  color: white;
  font-weight: 500;
  box-sizing: border-box;
}

.btn1:hover {
  background-color: rgb(11, 11, 107);
}

.logoContainer1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 641px) {
  .modal-content1 {
    width: 100%;
  }

  .password1 {
    width: 100%;
  }
}
