.dashboard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    padding-top: 6rem;
    /* width: 70rem; */
    /* border: 1px solid red; */
}



/* @media (max-width: 420px) {
    .dashboard {
        justify-content: left;
    }
} */

.cards-container {
    padding-top: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    margin-left: 16rem;
}

.cards-container .card-balance-card {
    margin-bottom: 3rem;
}

.card {
    border-radius: 1.25rem;
    width: 35em;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 0.0625rem solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
}

.card.card-balance-card:hover {
    transition: 0.30s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-balance-card .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75rem;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.card-balance-card .card-body {
    color: #001435;
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.card-balance-card .card-body .balance {
    font-size: 2.75rem;
    line-height: 3rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
}

.card-balance-card .card-footer {

}

.card-balance-card .card-footer .primary-btn {
    border-radius: 1000px;
    color: #fff;;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color: #003087;
    border: 1px solid #003087;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    padding: 0.35rem 0.975rem;
    min-width: 3.75rem;
}

.card-balance-card .card-footer .primary-btn:hover {
    background-color: var(--pal-blue);
    border: 1px solid var(--pal-blue);
    transition: color 0.60s ease;
}



.activity-card .heading {
    font-weight: 400;
}

.activity-card p {
    padding: 0.75rem;
}

.activity-cards {
    display: flex;
    flex-direction: column;
}

.activity {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 0.75rem;
    padding: 1.375rem;
    margin-bottom: 1.75rem;
}

.activity .activity-icon {
    font-size: 1.25rem;
    color: var(--white);
    background-color: var(--berry);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    margin-right: 1em;
}

.activity-icon .icon {
    margin: 10px;
}

.activity-card .card-body {
    margin-top: 1.5rem;
}

.activity-info {
    width: 100%;
}

.activity-info .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.header .activity-name {
    font-size: 20px;
}

.header .payment {
    font-size: 18px;
    font-weight: 400;
}

.activity-card .show-all {
    color: var(--pal-blue);
    cursor: pointer;
    font-weight: 400;
}


/* sidebar */

.desktop-sidebar {
    /* position: absolute;
    right: 0;
    top: 6rem; */
    background-color: #fff;
    justify-content: right;
    height: 110vh;
    padding: 3rem 2.75rem 10.75rem 2.75rem;
    width: 42%;
    display: block;
    justify-content: right;
}

.buttons-container {
    display: flex;
    margin-bottom: 2.0625rem;
    width: 70%;
}

.buttons-container :first-child {
    margin-right: 10px;
}

.secondary-btn {
    background-color: #ffd140;
    border: 1px solid #ffd140;
    text-align: center;
    color: #003087;
    border-radius: 1000px;
    display: inline-block;
    font-weight: 700;
    min-width: 6rem;
    line-height: 1.5rem;
    font-size: 1.125rem;
    padding: 0.625rem 1.875rem;
    cursor: pointer;
    flex: 1;
}


.kebab-menu-container button{
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kebab-menu-container button .icon-container {
    border: 1px solid #faf8f5;
    background-color: #faf8f5;
    border-radius: 50%;
    display: inline-flex;
    padding: 1rem;
}

.kebab-menu-container button .icon {
    color: #003087;
    z-index: 4;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}


.kebab-menu-container .more-info {
    margin-top: 1rem;
}

.links-container {
    margin-bottom: 3rem;
}

.banks-and-cards {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.banks-and-cards .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.banks-and-cards .body {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem
}

.banks-and-cards .body span {
    margin-right: 10px;
    font-size: 25px;
}

.banks-and-cards .body p {
    font-size: 18px;
    display: flex;
    justify-content: right;
}

.banks-and-cards .footer {
    color: #003087;
    cursor: pointer;
}


/* responsiveness */

@media screen and (max-width: 767px) {
    .desktop-sidebar {
        display: none;
        /* border: 1px solid red; */
    }

    .dashboard {
        justify-content: center;
        max-width: 100%;
    }

    .cards-container {
        margin: 0;
        padding-left: 3rem;
    }

    .card {
        max-width: 90vw;
    }

    .card-balance-card .card-header {
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1.5rem;
    }

    .card-balance-card .card-body .balance {
        font-size: 1.75rem;
        line-height: 1.5rem;
        font-weight: 400;
        margin-bottom: 0.75rem;
    }

    .primary-btn {
        display: flex;
        justify-content: center;
        width: calc(100vw - 5rem);
    }

    .banks-and-cards__mobile {
        width: 100%;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        background: #fff;

    }
    
    .banks-and-cards__mobile .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }
    
    .banks-and-cards__mobile .body {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 1.5rem
    }
    
    .banks-and-cards__mobile .body span {
        margin-right: 10px;
        font-size: 25px;
    }
    
    .banks-and-cards__mobile .body p {
        font-size: 18px;
        display: flex;
        justify-content: right;
    }
    
    .banks-and-cards__mobile .footer {
        color: #003087;
        cursor: pointer;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px ) {

    .dashboard {
        justify-content: center;        
    }

    .cards-container {
        margin: 0;
    }

    .desktop-sidebar {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    
}