.walletMain {
  padding: 20px;
}

.walletContainer {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: auto;
  border-radius: 8px;
  padding: 20px;
}

.walletContainerDiv1 {
  width: 40%;
}

.linkCard {
  padding: 10px;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  width: 40%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.linkCardIconP {
  font-size: 30px;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(235, 230, 230);
  margin: auto;
  margin-bottom: 5px;
}

.linkCardIcon {
  margin: auto;
  color: rgb(70, 70, 155);
}

.linkCardP {
  font-size: 16px;
  text-align: center;
}

.paypalBal {
  border: 2px solid rgb(9, 9, 201);
  border-radius: 7px;
  display: flex;
  padding: 15px;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.paypalBalImg {
  width: 40px;
  border: 1px solid rgb(196, 191, 191);
  border-radius: 4px;
  padding: 3px 10px;
  background-color: rgb(241, 235, 235);
}

/* .paypalBalCard {} */

.paypalBalCardP {
  font-size: 16px;
  color: rgb(10, 10, 196);
  font-weight: 600;
  margin: 0;
}

.paypalBalCardAvailable {
  color: black;
  margin: 0;
}

.walletContainerDiv2 {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.walletContainerDiv2Img {
  width: 80px;
  margin: auto;
  border: 1px solid rgb(196, 191, 191);
  border-radius: 5px;
  padding: 4px 24px;
  background-color: rgb(241, 235, 235);
}

.walletContainerDiv2BalP {
  color: black;
  text-align: center;
  font-size: 16px;
}

.walletContainerDiv2Bal {
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: 600;
}

.walletContainerDiv2P2 {
  color: black;
  text-align: center;
  font-size: 16px;
}

.walletContainerDiv2Btn {
  width: 45%;
  padding: 8px;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid rgb(7, 7, 145);
  background-color: rgb(7, 7, 145);
  color: white;
  font-weight: 500;
  align-items: center;
  margin: auto;
}

.walletContainingCurrency {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
}

.walletContainingCurrencyDiv {
  display: flex;

}

.walletContainingCurrencyDiv1 {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.walletContainingCurrencyImg {
  margin-top: auto;
  margin-bottom: auto;
}

.walletContainingCurrencyP,
.walletContainingCurrencyP1,
.walletContainingCurrencyBal {
  font-size: 12px;
}

.walletContainingCurrencyP1 {
  border: 1px solid blue;
  height: 18px;
  padding: 0 2px;
  border-radius: 3px;
  color: blue;
}

.walletContainingCurrencyP2 {
  margin-left: 10px;
}

.div9 {
  display: flex;
}

.div10 {
  text-align: right;
}

.div9Icon {
  margin: auto 0 auto 5px;
  cursor: pointer;
}

.walletContainerDiv2Btn:hover {
  border: 1px solid rgb(17, 17, 180);
  background-color: rgb(17, 17, 180);
}

.addCurrency {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.addCurrencyLink1,
.addCurrencyLink2 {
  color: rgb(10, 10, 196);
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

.addCurrencyLink1:hover,
.addCurrencyLink2:hover {
  text-decoration: underline;
}

.preferred {
  text-align: center;
  margin-top: 10px;
}

.preferredOnline {
  color: black;
  font-size: 16px;
}

.setPreferred {
  color: rgb(10, 10, 196);
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.setPreferred:hover {
  text-decoration: underline;
}

.preferredP1 {
  color: black;
}

.preferredP2 {
  color: black;
}

.preferredAbout {
  color: rgb(10, 10, 196);
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
}

.preferredAbout:hover {
  text-decoration: underline;
}

.preferredAbout:focus,
.setPreferred:focus {
  border: 2px solid rgb(10, 10, 196);
  border-radius: 5px;
  padding: 3px;
}
